
#cart-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:auto;
    text-align: center;
     
}
#cart-container div img{
width:200px;
height:300px;

}
.payment{
    text-align:center ;
    margin-bottom: 20px;
}
.payment button{
    text-align: center;
    font-size:xx-large;
    background-color: #27ae60;
}
.payment button:hover{
background-color: #2ecc71;

}
/* #cart-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 0;

