.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* /border-bottom: 0.5px solid rgba(110, 94, 94, 0.734); */
    /* border-bottom: 1px solid rgba(48, 48, 48, 0) ; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#right{
    width: 80%; 
    margin: 5px;
    /* border: 2px solid red; */
    /* height: 9000px; */
    
}
#left{
    margin: 5px;
    width: 20%;
     
     border-right: 1px solid rgba(48, 48, 48, 0.822); 
   
    
}
.main{
    display: flex;
}
.div1{
    display: flex;
    margin: 5%;
}
.div1>div{
    width: 130px;
    text-align: center;
}

.div1>div>img{
    width: 100%;
}
.div2{
    text-align: center;
}
/* .inerdiv3{
    width: 14000px;
    height: 1500px;
} */
.inerdiv3>img{
    width: 100%;
}
#div3 {
    
    display: flex;
    
}
#div3 .inerdiv3{
    
    white-space:nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    
    
    
}
.inerdiv3 img{
    height: 100px;
    width: calc(100% /1);
    object-fit: cover;
    
}
.pre-btn,.next-btn  {
    width: 50px;
    border: none;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    /* opacity: 0.1; */
    /* display: none; */
}

.pre-btn  img ,.next-btn img{
    width: 100%;
    opacity: 0.2;

}


#product{
    position: relative;
    overflow: hidden;

} 
.productcontainer{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.productcontainer::-webkit-scrollbar{
    display: none;
}
.producimage{
    position: relative;
    width: 120px;
    height: 180px;
    overflow: hidden;
    margin: 10px;
    
}
.producimage>img{
    width: 100%;
}
.pre-btn{
    left: 0;
    transform: rotate(180deg);
}
.next-btn{
    right: 0;
}
#product:hover > .pre-btn>img{
    opacity: 6;
}

/* div5 */
#div5{
    width: 100%;
   
}
#div5 >img{
    width: 100%;
}
.grid{
    
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 0px;
}
.div2b>img{
    width: 100%;
}

.div8{
    text-align: center;
}
.rgrid{
    display: grid;
    grid-template-columns:repeat(4,50px);
    grid-template-rows: repeat(4,30px);
    /* border: 2px solid darkblue; */
    gap: 5px;
}
.rgrid >div{
    border: 1px solid black;
    text-align: center;
    font-size: smaller;
    padding: 3px;
}
#left >li{
     list-style: none;
     list-style-type: none;
     list-style-position: initial;
}
#left label:hover, p:hover,li:hover{
    color: rgb(215, 75, 75);
    cursor: pointer;
}

#left div>div:hover{
    color: aqua;
}